*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav1{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    list-style: none;
}